# Initial Data Cleaning and EDA

In [1]:
# data handling
import sweetviz as sv
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import matplotlib.pyplot as plt
from pandas import DataFrame
%matplotlib inline

# splitting data
from sklearn import model_selection
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

# evaluating models
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support
from scipy.stats import boxcox
from scipy import stats

# `logistic regression` model
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv('../Capstone/Data/NBA_Advanced_Data.csv')

In [3]:
data.dtypes

Player    object
Pos       object
Age        int64
Tm        object
G          int64
MP        object
PER       object
TSpct     object
3PAr      object
FTr       object
ORBpct    object
DRBpct    object
TRBpct    object
ASTpct    object
STLpct    object
BLKpct    object
TOVpct    object
USGpct    object
OWS       object
DWS       object
WS        object
WS/48     object
OBPM      object
DBPM      object
BPM       object
VORP      object
Season    object
dtype: object

In [4]:
data['MP'] = pd.to_numeric(data['MP'], errors='coerce')

In [5]:
data['PER'] = pd.to_numeric(data['PER'], errors='coerce')

In [6]:
data['TS%'] = pd.to_numeric(data['TSpct'], errors='coerce')

In [7]:
data['3PAr'] = pd.to_numeric(data['3PAr'], errors='coerce')

In [8]:
data['FTr'] = pd.to_numeric(data['FTr'], errors='coerce')

In [9]:
data['ORB%'] = pd.to_numeric(data['ORBpct'], errors='coerce')

In [10]:
data['DRB%'] = pd.to_numeric(data['DRBpct'], errors='coerce')

In [11]:
data['TRB%'] = pd.to_numeric(data['TRBpct'], errors='coerce')

In [12]:
data['AST%'] = pd.to_numeric(data['ASTpct'], errors='coerce')

In [13]:
data['STL%'] = pd.to_numeric(data['STLpct'], errors='coerce')

In [14]:
data['BLK%'] = pd.to_numeric(data['BLKpct'], errors='coerce')

In [15]:
data['TOV%'] = pd.to_numeric(data['TOVpct'], errors='coerce')

In [16]:
data['USG%'] = pd.to_numeric(data['USGpct'], errors='coerce')

In [17]:
data['OWS'] = pd.to_numeric(data['OWS'], errors='coerce')

In [18]:
data['DWS'] = pd.to_numeric(data['DWS'], errors='coerce')

In [19]:
data['WS'] = pd.to_numeric(data['WS'], errors='coerce')

In [20]:
data['WS/48'] = pd.to_numeric(data['WS/48'], errors='coerce')

In [21]:
data['OBPM'] = pd.to_numeric(data['OBPM'], errors='coerce')

In [22]:
data['DBPM'] = pd.to_numeric(data['DBPM'], errors='coerce')

In [23]:
data['BPM'] = pd.to_numeric(data['BPM'], errors='coerce')

In [24]:
data['VORP'] = pd.to_numeric(data['VORP'], errors='coerce')

In [25]:
data.dtypes

Player     object
Pos        object
Age         int64
Tm         object
G           int64
MP        float64
PER       float64
TSpct      object
3PAr      float64
FTr       float64
ORBpct     object
DRBpct     object
TRBpct     object
ASTpct     object
STLpct     object
BLKpct     object
TOVpct     object
USGpct     object
OWS       float64
DWS       float64
WS        float64
WS/48     float64
OBPM      float64
DBPM      float64
BPM       float64
VORP      float64
Season     object
TS%       float64
ORB%      float64
DRB%      float64
TRB%      float64
AST%      float64
STL%      float64
BLK%      float64
TOV%      float64
USG%      float64
dtype: object

In [26]:
data = data.drop(['TSpct','ORBpct','DRBpct','TRBpct','ASTpct','STLpct','BLKpct','TOVpct','USGpct'], axis=1)

In [27]:
data.dtypes

Player     object
Pos        object
Age         int64
Tm         object
G           int64
MP        float64
PER       float64
3PAr      float64
FTr       float64
OWS       float64
DWS       float64
WS        float64
WS/48     float64
OBPM      float64
DBPM      float64
BPM       float64
VORP      float64
Season     object
TS%       float64
ORB%      float64
DRB%      float64
TRB%      float64
AST%      float64
STL%      float64
BLK%      float64
TOV%      float64
USG%      float64
dtype: object

In [28]:
a = data.Pos.unique()
print(sorted(a))

[' C', ' C-F', ' C-PF', ' C-SF', ' F', ' F-C', ' F-G', ' G', ' G-F', ' PF', ' PF-C', ' PF-SF', ' PG', ' PG-SF', ' PG-SG', ' SF', ' SF-PF', ' SF-PG', ' SF-SG', ' SG', ' SG-PF', ' SG-PG', ' SG-SF']

In [29]:
data.drop(data[data['Pos'] == ' C-F'].index, inplace = True)
data.drop(data[data['Pos'] == ' C-PF'].index, inplace = True)
data.drop(data[data['Pos'] == ' C-SF'].index, inplace = True)
data.drop(data[data['Pos'] == ' F-C'].index, inplace = True)
data.drop(data[data['Pos'] == ' F-G'].index, inplace = True)
data.drop(data[data['Pos'] == ' G-F'].index, inplace = True)
data.drop(data[data['Pos'] == ' PF-C'].index, inplace = True)
data.drop(data[data['Pos'] == ' PF-SF'].index, inplace = True)
data.drop(data[data['Pos'] == ' PG-SF'].index, inplace = True)
data.drop(data[data['Pos'] == ' PG-SG'].index, inplace = True)
data.drop(data[data['Pos'] == ' SF-PF'].index, inplace = True)
data.drop(data[data['Pos'] == ' SF-PG'].index, inplace = True)
data.drop(data[data['Pos'] == ' SF-SG'].index, inplace = True)
data.drop(data[data['Pos'] == ' SG-PF'].index, inplace = True)
data.drop(data[data['Pos'] == ' SG-PG'].index, inplace = True)
data.drop(data[data['Pos'] == ' SG-SF'].index, inplace = True)
data.drop(data[data['Pos'] == ' G'].index, inplace = True)
data.drop(data[data['Pos'] == ' F'].index, inplace = True)

In [30]:
#data.replace(to_replace=['PG','SG','SF','PF','C'], value=['1','2','3','4','5'])

In [31]:
def number_positions(Pos):
     if Pos == ' PG':                          
        return(1)
     if Pos == ' SG':                          
        return(2)
     if Pos == ' SF':                          
        return(3)
     if Pos == ' PF':                          
        return(4)
     if Pos == ' C':                         
        return(5)

data['NumPos'] = data['Pos'].apply(number_positions)  
#data['NumPos'] = data['NumPos'].astype('int')
data.head()

,Player,Pos,Age,Tm,G,MP,PER,3PAr,FTr,OWS,...,TS%,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,NumPos
0,Bam Adebayo,PF,22,MIA,65,2235.0,20.6,0.018,0.476,4.6,...,0.606,8.7,25.0,17.2,23.6,1.7,3.8,17.5,20.8,4
1,LaMarcus Aldridge,C,34,SAS,53,1754.0,19.8,0.198,0.241,3.1,...,0.571,6.3,17.8,12.0,11.4,1.0,4.4,7.8,23.6,5
2,Nickeil Alexander-Walker,SG,21,NOP,41,501.0,7.6,0.515,0.123,-0.7,...,0.441,1.7,15.2,8.4,20.3,1.0,1.2,14.3,22.8,2
3,Grayson Allen,SG,24,MEM,30,498.0,11.4,0.517,0.199,0.5,...,0.577,1.1,12.6,7.0,11.8,0.6,0.2,10.7,17.9,2
4,Jarrett Allen,C,21,BRK,64,1647.0,20.3,0.012,0.574,4.3,...,0.658,12.5,25.0,18.9,7.8,1.1,4.3,12.2,15.0,5

In [32]:
data.dtypes

Player     object
Pos        object
Age         int64
Tm         object
G           int64
MP        float64
PER       float64
3PAr      float64
FTr       float64
OWS       float64
DWS       float64
WS        float64
WS/48     float64
OBPM      float64
DBPM      float64
BPM       float64
VORP      float64
Season     object
TS%       float64
ORB%      float64
DRB%      float64
TRB%      float64
AST%      float64
STL%      float64
BLK%      float64
TOV%      float64
USG%      float64
NumPos      int64
dtype: object

In [33]:
data.head()

,Player,Pos,Age,Tm,G,MP,PER,3PAr,FTr,OWS,...,TS%,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,NumPos
0,Bam Adebayo,PF,22,MIA,65,2235.0,20.6,0.018,0.476,4.6,...,0.606,8.7,25.0,17.2,23.6,1.7,3.8,17.5,20.8,4
1,LaMarcus Aldridge,C,34,SAS,53,1754.0,19.8,0.198,0.241,3.1,...,0.571,6.3,17.8,12.0,11.4,1.0,4.4,7.8,23.6,5
2,Nickeil Alexander-Walker,SG,21,NOP,41,501.0,7.6,0.515,0.123,-0.7,...,0.441,1.7,15.2,8.4,20.3,1.0,1.2,14.3,22.8,2
3,Grayson Allen,SG,24,MEM,30,498.0,11.4,0.517,0.199,0.5,...,0.577,1.1,12.6,7.0,11.8,0.6,0.2,10.7,17.9,2
4,Jarrett Allen,C,21,BRK,64,1647.0,20.3,0.012,0.574,4.3,...,0.658,12.5,25.0,18.9,7.8,1.1,4.3,12.2,15.0,5

In [34]:
data.to_csv('../Capstone/Data/FirstClean_NBA_Advanced_Data.csv', index=0)

In [35]:
my_report = sv.analyze(data, target_feat='WS')
my_report.show_html('../Capstone/EDA_files/NBA_EDA.html')

:FEATURES DONE:                    |█████████████████████| [100%]   00:17  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:01  -> (00:00 left)

Creating Associations graph... DONE!