source code: https://www.datacamp.com/community/tutorials/web-scraping-using-python

In [11]:
#Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [12]:
#Not using currently
#years=['2020','2019','2018','2017','2016','2015','2014','2013','2012','2011','2010','2009',
#       '2008','2007','2006','2005','2004','2003','2002','2001','2000','1999','1998','1997',
#       '1996','1995','1994','1993','1992','1991','1990','1989','1988','1987','1986','1985',
#       '1984','1983','1982','1981','1980','1979','1978','1977','1976','1975','1974','1973',
#       '1972','1971','1970','1969','1968','1967','1966','1965','1964','1963','1962','1961',
#       '1960']

In [13]:
#URLs for for loop
urls = ["https://www.hockey-reference.com/leagues/NHL_2020_skaters.html",
        "https://www.hockey-reference.com/leagues/NHL_2019_skaters.html"]

In [16]:
#For loop to create dataframe of season stats
#testing it out with only 2 URLs

for url in urls:
    html = urlopen(url)
    soup = BeautifulSoup(html, 'lxml')
    rows = soup.find_all('tr')
    
    for row in rows:
        row_td = row.find_all('td')
    
    import re
    list_rows = []
    
    for row in rows:
        cells = row.find_all('td')
        str_cells = str(cells)
        clean = re.compile('<.*?>')
        clean2 = (re.sub(clean, '',str_cells))
        list_rows.append(clean2)

In [17]:
df = pd.DataFrame(list_rows)
df1 = df[0].str.split(',', expand=True)
df1[0] = df1[0].str.strip('[')
df1[26] = df1[26].str.strip(']')
df1 = df1.iloc[2:]
df1 = df1.reset_index(drop=True)
df2 = df1.set_axis(['Player', 'Age', 'Tm', 'Pos', 'GP', 'G', 'A', 'PTS', 'PlusMinus', 'PIM', 'PS', 'EV', 'PP', 'SH', 'GW', 'EV', 'PP', 'SH', 'S', 'Spct', 'TOI', 'ATOI', 'BLK', 'HIT', 'FOW', 'FOL', 'FOpct'], axis=1, inplace=False)
df2.reset_index
df2.drop(df2[df2['Player'] == ']'].index, inplace = True)
df2.reset_index(drop=True)
df2.to_csv('Looped_2019_2020.csv', index=0)

# Code below this cell is copied over from 'ScrapeTest.ipynb'

In [5]:
html = urlopen(url)

In [6]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [7]:
title = soup.title
print(title)

<title>2018-19 NHL Skater Statistics | Hockey-Reference.com</title>

In [8]:
rows = soup.find_all('tr')

In [9]:
for row in rows:
    row_td = row.find_all('td')
print(row_td)
type(row_td)

[<td class="left" csk="Zykov,Valentin" data-append-csv="zykovva01" data-stat="player"><a href="/players/z/zykovva01.html">Valentin Zykov</a></td>, <td class="right" data-stat="age">23</td>, <td class="left" data-stat="team_id"><a href="/teams/EDM/2019.html">EDM</a></td>, <td class="center" csk="1:Zykov:Valentin" data-stat="pos">LW</td>, <td class="right" data-stat="games_played">5</td>, <td class="right iz" data-stat="goals">0</td>, <td class="right iz" data-stat="assists">0</td>, <td class="right iz" data-stat="points">0</td>, <td class="right" data-stat="plus_minus">-1</td>, <td class="right" data-stat="pen_min">2</td>, <td class="right" data-stat="ps">-0.1</td>, <td class="right iz" data-stat="goals_ev">0</td>, <td class="right iz" data-stat="goals_pp">0</td>, <td class="right iz" data-stat="goals_sh">0</td>, <td class="right iz" data-stat="goals_gw">0</td>, <td class="right iz" data-stat="assists_ev">0</td>, <td class="right iz" data-stat="assists_pp">0</td>, <td class="right iz" data-stat="assists_sh">0</td>, <td class="right iz" data-stat="shots">0</td>, <td class="right iz" data-stat="shot_pct"></td>, <td class="right" data-stat="time_on_ice">36</td>, <td class="right" data-stat="time_on_ice_avg">7:08</td>, <td class="right" data-stat="blocks">1</td>, <td class="right" data-stat="hits">2</td>, <td class="right iz" data-stat="faceoff_wins">0</td>, <td class="right iz" data-stat="faceoff_losses">0</td>, <td class="center iz" data-stat="faceoff_percentage"></td>]

bs4.element.ResultSet

In [10]:
str_cells = str(row_td)
cleantext = BeautifulSoup(str_cells, "lxml").get_text()
print(cleantext)

[Valentin Zykov, 23, EDM, LW, 5, 0, 0, 0, -1, 2, -0.1, 0, 0, 0, 0, 0, 0, 0, 0, , 36, 7:08, 1, 2, 0, 0, ]

In [11]:
import re

list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)

[Valentin Zykov, 23, EDM, LW, 5, 0, 0, 0, -1, 2, -0.1, 0, 0, 0, 0, 0, 0, 0, 0, , 36, 7:08, 1, 2, 0, 0, ]

str

In [12]:
df = pd.DataFrame(list_rows)
df.head(10)

                                                   0
0                                                 []
1                                                 []
2  [Justin Abdelkader, 31, DET, LW, 71, 6, 13, 19...
3  [Pontus Aberg, 25, TOT, LW, 59, 12, 13, 25, -1...
4  [Pontus Aberg, 25, ANA, LW, 37, 11, 8, 19, -10...
5  [Pontus Aberg, 25, MIN, LW, 22, 1, 5, 6, -4, 6...
6  [Vitaly Abramov, 20, OTT, RW, 1, 0, 0, 0, -3, ...
7  [Noel Acciari, 27, BOS, C, 72, 6, 8, 14, -3, 4...
8  [Kenny Agostino, 26, TOT, LW, 63, 6, 18, 24, -...
9  [Kenny Agostino, 26, MTL, LW, 36, 2, 9, 11, -1...

In [13]:
df1 = df[0].str.split(',', expand=True)
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,[],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,[],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[Justin Abdelkader,31,DET,LW,71,6,13,19,-14,38,...,0,95,6.3,1093,15:24,34,185,52,51,50.5]
3,[Pontus Aberg,25,TOT,LW,59,12,13,25,-14,20,...,0,101,11.9,861,14:36,11,45,2,17,10.5]
4,[Pontus Aberg,25,ANA,LW,37,11,8,19,-10,14,...,0,74,14.9,578,15:37,7,31,2,9,18.2]
5,[Pontus Aberg,25,MIN,LW,22,1,5,6,-4,6,...,0,27,3.7,283,12:52,4,14,0,8,0.0]
6,[Vitaly Abramov,20,OTT,RW,1,0,0,0,-3,0,...,0,0,,14,13:52,1,0,0,0,]
7,[Noel Acciari,27,BOS,C,72,6,8,14,-3,47,...,0,99,6.1,935,12:59,36,221,200,203,49.6]
8,[Kenny Agostino,26,TOT,LW,63,6,18,24,-3,34,...,0,79,7.6,814,12:55,14,143,15,27,35.7]
9,[Kenny Agostino,26,MTL,LW,36,2,9,11,-1,26,...,0,38,5.3,403,11:11,4,80,8,14,36.4]

In [14]:
df1[0] = df1[0].str.strip('[')
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Justin Abdelkader,31,DET,LW,71,6,13,19,-14,38,...,0,95,6.3,1093,15:24,34,185,52,51,50.5]
3,Pontus Aberg,25,TOT,LW,59,12,13,25,-14,20,...,0,101,11.9,861,14:36,11,45,2,17,10.5]
4,Pontus Aberg,25,ANA,LW,37,11,8,19,-10,14,...,0,74,14.9,578,15:37,7,31,2,9,18.2]
5,Pontus Aberg,25,MIN,LW,22,1,5,6,-4,6,...,0,27,3.7,283,12:52,4,14,0,8,0.0]
6,Vitaly Abramov,20,OTT,RW,1,0,0,0,-3,0,...,0,0,,14,13:52,1,0,0,0,]
7,Noel Acciari,27,BOS,C,72,6,8,14,-3,47,...,0,99,6.1,935,12:59,36,221,200,203,49.6]
8,Kenny Agostino,26,TOT,LW,63,6,18,24,-3,34,...,0,79,7.6,814,12:55,14,143,15,27,35.7]
9,Kenny Agostino,26,MTL,LW,36,2,9,11,-1,26,...,0,38,5.3,403,11:11,4,80,8,14,36.4]

In [15]:
df1[26] = df1[26].str.strip(']')
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Justin Abdelkader,31,DET,LW,71,6,13,19,-14,38,...,0,95,6.3,1093,15:24,34,185,52,51,50.5
3,Pontus Aberg,25,TOT,LW,59,12,13,25,-14,20,...,0,101,11.9,861,14:36,11,45,2,17,10.5
4,Pontus Aberg,25,ANA,LW,37,11,8,19,-10,14,...,0,74,14.9,578,15:37,7,31,2,9,18.2
5,Pontus Aberg,25,MIN,LW,22,1,5,6,-4,6,...,0,27,3.7,283,12:52,4,14,0,8,0.0
6,Vitaly Abramov,20,OTT,RW,1,0,0,0,-3,0,...,0,0,,14,13:52,1,0,0,0,
7,Noel Acciari,27,BOS,C,72,6,8,14,-3,47,...,0,99,6.1,935,12:59,36,221,200,203,49.6
8,Kenny Agostino,26,TOT,LW,63,6,18,24,-3,34,...,0,79,7.6,814,12:55,14,143,15,27,35.7
9,Kenny Agostino,26,MTL,LW,36,2,9,11,-1,26,...,0,38,5.3,403,11:11,4,80,8,14,36.4

In [16]:
df1 = df1.iloc[2:]
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
2,Justin Abdelkader,31,DET,LW,71,6,13,19,-14,38,...,0,95,6.3,1093,15:24,34,185,52,51,50.5
3,Pontus Aberg,25,TOT,LW,59,12,13,25,-14,20,...,0,101,11.9,861,14:36,11,45,2,17,10.5
4,Pontus Aberg,25,ANA,LW,37,11,8,19,-10,14,...,0,74,14.9,578,15:37,7,31,2,9,18.2
5,Pontus Aberg,25,MIN,LW,22,1,5,6,-4,6,...,0,27,3.7,283,12:52,4,14,0,8,0.0
6,Vitaly Abramov,20,OTT,RW,1,0,0,0,-3,0,...,0,0,,14,13:52,1,0,0,0,

In [17]:
df1 = df1.reset_index(drop=True)
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,Justin Abdelkader,31,DET,LW,71,6,13,19,-14,38,...,0,95,6.3,1093,15:24,34,185,52,51,50.5
1,Pontus Aberg,25,TOT,LW,59,12,13,25,-14,20,...,0,101,11.9,861,14:36,11,45,2,17,10.5
2,Pontus Aberg,25,ANA,LW,37,11,8,19,-10,14,...,0,74,14.9,578,15:37,7,31,2,9,18.2
3,Pontus Aberg,25,MIN,LW,22,1,5,6,-4,6,...,0,27,3.7,283,12:52,4,14,0,8,0.0
4,Vitaly Abramov,20,OTT,RW,1,0,0,0,-3,0,...,0,0,,14,13:52,1,0,0,0,

In [18]:
df1.columns.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26])

In [19]:
df2 = df1.set_axis(['Player', 'Age', 'Tm', 'Pos', 'GP', 'G', 'A', 'PTS', 'PlusMinus', 'PIM', 'PS', 'EV', 'PP', 'SH', 'GW', 'EV', 'PP', 'SH', 'S', 'Spct', 'TOI', 'ATOI', 'BLK', 'HIT', 'FOW', 'FOL', 'FOpct'], axis=1, inplace=False)
df2.reset_index
df2.tail()

,Player,Age,Tm,Pos,GP,G,A,PTS,PlusMinus,PIM,...,SH,S,Spct,TOI,ATOI,BLK,HIT,FOW,FOL,FOpct
1116,Jason Zucker,27,MIN,LW,81,21,21,42,-9,28,...,0,214,9.8,1383,17:05,38,87,2,11,15.4
1117,Valentin Zykov,23,TOT,LW,28,2,3,5,-5,2,...,0,29,6.9,279,9:57,6,26,2,7,22.2
1118,Valentin Zykov,23,CAR,LW,13,0,3,3,-1,0,...,0,13,0.0,127,9:45,2,6,2,6,25.0
1119,Valentin Zykov,23,VEG,LW,10,2,0,2,-3,0,...,0,16,12.5,116,11:37,3,18,0,1,0.0
1120,Valentin Zykov,23,EDM,LW,5,0,0,0,-1,2,...,0,0,,36,7:08,1,2,0,0,

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121 entries, 0 to 1120
Data columns (total 27 columns):
Player       1121 non-null object
Age          1076 non-null object
Tm           1076 non-null object
Pos          1076 non-null object
GP           1076 non-null object
G            1076 non-null object
A            1076 non-null object
PTS          1076 non-null object
PlusMinus    1076 non-null object
PIM          1076 non-null object
PS           1076 non-null object
EV           1076 non-null object
PP           1076 non-null object
SH           1076 non-null object
GW           1076 non-null object
EV           1076 non-null object
PP           1076 non-null object
SH           1076 non-null object
S            1076 non-null object
Spct         1076 non-null object
TOI          1076 non-null object
ATOI         1076 non-null object
BLK          1076 non-null object
HIT          1076 non-null object
FOW          1076 non-null object
FOL          1076 non-null object
FOpct        1076 non-null object
dtypes: object(27)
memory usage: 236.6+ KB

In [21]:
df2.drop(df2[df2['Player'] == ']'].index, inplace = True)

In [22]:
df2.reset_index(drop=True)

,Player,Age,Tm,Pos,GP,G,A,PTS,PlusMinus,PIM,...,SH,S,Spct,TOI,ATOI,BLK,HIT,FOW,FOL,FOpct
0,Justin Abdelkader,31,DET,LW,71,6,13,19,-14,38,...,0,95,6.3,1093,15:24,34,185,52,51,50.5
1,Pontus Aberg,25,TOT,LW,59,12,13,25,-14,20,...,0,101,11.9,861,14:36,11,45,2,17,10.5
2,Pontus Aberg,25,ANA,LW,37,11,8,19,-10,14,...,0,74,14.9,578,15:37,7,31,2,9,18.2
3,Pontus Aberg,25,MIN,LW,22,1,5,6,-4,6,...,0,27,3.7,283,12:52,4,14,0,8,0.0
4,Vitaly Abramov,20,OTT,RW,1,0,0,0,-3,0,...,0,0,,14,13:52,1,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071,Jason Zucker,27,MIN,LW,81,21,21,42,-9,28,...,0,214,9.8,1383,17:05,38,87,2,11,15.4
1072,Valentin Zykov,23,TOT,LW,28,2,3,5,-5,2,...,0,29,6.9,279,9:57,6,26,2,7,22.2
1073,Valentin Zykov,23,CAR,LW,13,0,3,3,-1,0,...,0,13,0.0,127,9:45,2,6,2,6,25.0
1074,Valentin Zykov,23,VEG,LW,10,2,0,2,-3,0,...,0,16,12.5,116,11:37,3,18,0,1,0.0
1075,Valentin Zykov,23,EDM,LW,5,0,0,0,-1,2,...,0,0,,36,7:08,1,2,0,0,

In [23]:
df2['Season']='2019-2020'

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1076 entries, 0 to 1120
Data columns (total 28 columns):
Player       1076 non-null object
Age          1076 non-null object
Tm           1076 non-null object
Pos          1076 non-null object
GP           1076 non-null object
G            1076 non-null object
A            1076 non-null object
PTS          1076 non-null object
PlusMinus    1076 non-null object
PIM          1076 non-null object
PS           1076 non-null object
EV           1076 non-null object
PP           1076 non-null object
SH           1076 non-null object
GW           1076 non-null object
EV           1076 non-null object
PP           1076 non-null object
SH           1076 non-null object
S            1076 non-null object
Spct         1076 non-null object
TOI          1076 non-null object
ATOI         1076 non-null object
BLK          1076 non-null object
HIT          1076 non-null object
FOW          1076 non-null object
FOL          1076 non-null object
FOpct        1076 non-null object
Season       1076 non-null object
dtypes: object(28)
memory usage: 243.8+ KB

In [25]:
df2.to_csv('2019_2020.csv', index=0)